.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffffdf;
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(10px); 
  padding-top: 5px;
  padding-bottom: 5px;
}
.container {
}
.header__items {
  display: flex;
  justify-content: space-between;
}
.header__links {
  display: flex;
}
.menu__btn {
  border: none;
  width: 18px;
  height: 13px;
  padding: 0;
  background-color: transparent;
  margin: 15px 27px 22px;
  position: absolute;
}

.menu__btn::after,
.menu__btn::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #000000;
}
.menu__btn::before {
  top: 0;
}
.menu__btn::after {
  bottom: 0;
}
.menu__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #00000015;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.1s ease;
}
.menu__btn:hover .menu__background {
  width: 30px;
  height: 30px;
}
.menu__btn span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.row {
}
.header__link-youtube {
  margin-left: 44px;
  padding: 11px 14px 18px 16px;
}
.header__country {
  position: relative;
  top: -5px;
  left: -12px;
  font-weight: 300;
  font-size: 10px;
}
.header__search {
  display: flex;
  width: 50%;
  max-width: 600px;
}
.header__input {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  padding: 5px;
  height: 40px;
  width: 100%;
  align-items: center;
  border-radius: 40px 0 0 40px;
  transition: all 0.3s ease-in-out;
}
.header__input.active {
  width: 400px;
}
input:focus {
}
.search__textfield-input {
  width: 100%;
  background-color: transparent;
  border: none;
  transition: width 0.3s ease-in-out;
  outline: none;
}
.header__serach-keyboard {
  position: relative;
  top: 4px;
}
.header__img-keyboard {
  height: 18px;
}
.search__btn {
  border: 1px solid #d3d3d3;
  background-color: transparent;
  height: 40px;
  border-radius: 0 40px 40px 0;
  margin-right: 10px;
  padding: 5px 20px 5px 20px;
  /* margin: 0 10px 5px 10px; */
}
.search__btn:hover {
  background-color: #00000015;
  transition: all .2s;
}

.tooltiptext {
  visibility: hidden;
  padding: 10px 10px;
  color: #fff;
  size: 0px;
  position: absolute;
  z-index: 1;
  background-color: #00000025;
  border-radius: 5px;
  white-space: nowrap;
 
}
.search__btn:hover .tooltiptext {
  visibility: visible;
  transform: translate(-60%, 90%);
}
.header__img-search {
  height: 18px;
  /* padding-top: 5px; */
}
.search__btn-voice {
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #00000015;
}
.search__btn-voice:hover {
  background-color: #00000025;
}

.search__btn-voice:hover .tooltiptext {
    visibility: visible;
    transform: translate(-60%, 115%);
  }
  
.header__img-voice {
  margin: 5px;
}
.header__usercorner {
  display: flex;
  gap: 15px;
  max-height: 40px;
}
.header__create {
  display: flex;
  border-radius: 18px;
  background-color: #00000015;
  border: none;
}
.header__create:hover {
  background-color: #00000025;
}
.header__create:hover .tooltiptext {
    visibility: visible;
    transform: translate(15%, 115%);
  }
.header__create-img {
}
.header__usercorner-text {
  margin: 10px 10px 10px 5px;
}
.create__plus-img {
  height: 18px;
  margin: 10px 0 10px 10px;
}
.notification__btn {
  border-radius: 18px;
  background-color: transparent;
  border: none;
}
.notification__btn:hover {
  background-color: #00000025;
}
.notification__btn:hover .tooltiptext {
    visibility: visible;
    transform: translate(-50%, 30%);
  }
.notification__btn-img {
  height: 20px;
}
.notification__btn-text {
  border-radius: 18px;
  background-color: #ff0033;
  color: #fff;
  padding: 0px 5px;
  border: none;
  font-weight: 100;
  font-size: 12px;
  position: absolute;
  top: 0px;
  margin-left: 10px;
}
.avatar__link {
}
.avatar__link-img {
  height: 40px;
  border-radius: 50%;
}