@media (max-width: 1340px) {
  .video__list-video_time {
    left: 77%;
  }
}
@media (max-width: 1260px) {
  .video__list-video_time {
    left: 77%;
  }
  .video__list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 990px) {
  .video__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

}

