.popular {
    padding: 100px 0;
}
.container {
}
.popular__title {
    margin-bottom: 40px;
}
.title {
}
.popular__items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 32px;
    padding: 0 0 82px 0;
    border-bottom: 1px solid #C4C4C4;
}
.popular__link {
    padding: 16px 24px 19px;
    line-height: 130%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;
}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title {
    font-weight: 500;
    margin-bottom: 15px;
}
.popular__price {
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
}
.popular__country,
.popular__time {
    margin-bottom: 15px;
}

.popular__link-title--big {
    font-size: 24px;
}