.tour {
  padding: 100px 0;
}
.container {
}
.tour__title {
  margin-bottom: 77px;
}
.tour__box {
  column-count: 2;
  column-gap: 46px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 50px;
  margin-bottom: 44px;
}
.tour__text {
    margin-bottom: 15px;
}
.tour__info {
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 70px;
}
.tour__info-item {
    font-family: 'PT Serif', serif;
    font-size: 58px;
    font-weight: bold;
    line-height: 60px;
    color: #886239;
    text-align: center;
}
.tour__info-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #1f1e1e;
}
