.trevel-info {
    background-image: url(../assets/images/travel-info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px 0 50px;
}
.container {
}
.travel-info__title {
    color: #fff;
    margin-bottom: 50px;
}
.title {
    text-align: center;
    line-height: 130%;
    font-size: 36px;
    font-weight: 500;
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 67px;
}
.travel-info__item {
}
.travel-info__img {
    margin-bottom: 15px;
}
.travel-info__text {
    color: #fff;
    font-size: 16px;
    line-height: 130%;
}