.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: flex;
}
.benefits__images {
  margin-right: 100px;
  width: 60%;
  height: 60%;
}
.benefits__content {
  width: 100%;
  color: #fff;
}
.title {
}
.benefits__title {
  margin-left: 185px;
}
.benefits__list {
  list-style: none;
  background-color: #21062a;
  padding: 25 0 25 185;
}
.benefits__item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
.benefits__item-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}
.benefits__item-title {
  color: #c4c4c4;
}