.contacts__forms.shine {
  animation: shine 1.5s forwards; /* Добавляем анимацию */
}

@keyframes shine {
  0% {
    background-color: #21062a; /* Начальный цвет */
  }
  50% {
    background-color: #583e61; /* Цвет во время анимации */
  }
  100% {
    background-color: #21062a; /* Конечный цвет */
  }
}

.contacts {
}
.container {
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__info {
}
.title {
}
.contacts__list {
  list-style: none;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #5a0d67;
}
.contacts__item-text {
  color: #5a0d67;
}
.contacts__forms {
  background-color: #21062a;
  padding: 50px 75px 57px;
  text-align: center;
  position: relative; 
  overflow: hidden; 
  transition: background-color 0.5s ease;
}



.contacts__title{
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}
.contacts__btn {
  border: none;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}
.contacts__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  padding: 0 15;
  text-align: center;
  font-size: 30;
}
.contacts__input::placeholder {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #c4c4c4;
}
